.main-filter-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.755);
  padding-block: 5vh;

  .main-icon-container {
    display: flex;
    width: 95%;
    height: auto;
    justify-content: flex-end;

    .close-btn {
      background: none;
      border: none;
      cursor: pointer;
      img {
        width: 70%;
      }
    }

    .close-btn:hover {
      transform: scale(1.1);
    }
    .close-btn:active {
      transform: scale(0.9);
    }
  }

  .filterbtn-container {
    display: flex;
    width: 100%;
    justify-content: center;
    align-items: flex-start;
    gap: 2rem;

    .title-mobile {
      display: none;
      background: none;
      border: none;
      color: white;
      font-size: 24px;
      font-family: var(--primary-font);
    }

    .filterbtn {
      display: flex;
      height: auto;
      width: auto;
      flex-direction: column;
      align-items: center;
      gap: 1rem;
      border: 1px solid white;
      border-radius: 20px;
      padding: 16px;

      .title-desktop {
        display: flex;
        background: none;
        border: none;
        color: white;
        font-size: 24px;
        font-family: var(--primary-font);
      }

      .cat-btns {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        &.cat-btns-active {
          display: flex;
          flex-direction: column;
          align-items: center;
          gap: 1rem;
        }
        .btn {
          display: flex;
          width: 150px;
          padding: 10px 16px;
          justify-content: center;
          align-items: center;
          border: 1px solid white;
          border-radius: 15px;
          background-color: var(--primary-color);
          color: white;
          font-family: var(--primary-font);
          font-weight: 400;
        }

        .btn:hover {
          transform: scale(1.1);
          filter: drop-shadow(0px 10px 50px rgb(171, 155, 155)) invert(100%);
          background-color: var(--primary-color);
          opacity: 80%;
        }

        .btnActive {
          display: flex;
          width: 150px;
          padding: 10px 16px;
          justify-content: center;
          align-items: center;
          border: 1px solid white;
          border-radius: 15px;
          background-color: #dfab494d;
          color: white;
          font-family: var(--primary-font);
          font-weight: 400;
        }
      }
    }
  }
  .submitBtn {
    display: flex;
    justify-content: center;
    width: 100%;
    height: auto;

    button {
      width: 128px;
      height: 48px;
      background-color: cadetblue;
      border-radius: 50% 20% / 10% 40%;
      border: 1px solid black;
      font-family: var(--primary-font);
      font-weight: 400;
      font-size: 1.5rem;
    }

    button:hover {
      transform: scale(1.1);
      background-color: var(--primary-color);
      opacity: 80%;
    }
    button:active {
      transform: scale(0.8);
    }
  }
}

/* --------------------------------------------------------------------------------------------- */
/*                                         MEDIA QUERIES                                         */
/* --------------------------------------------------------------------------------------------- */

// --------------------- MEDIA QUERIES 480PX ---------------------

@media screen and (max-width: 480px) {
  .main-filter-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 3rem;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.755);
    padding-block: 5vh;

    .main-icon-container {
      display: flex;
      width: 95%;
      height: auto;
      justify-content: flex-end;

      .close-btn {
        background: none;
        border: none;
      }

      .close-btn:hover {
        cursor: pointer;
        transform: scale(1.1);
      }
    }

    .filterbtn-container {
      //modifié
      display: flex;
      flex-direction: column;
      width: auto;
      justify-content: center;
      align-items: center;
      gap: 1rem;
      border: 1px solid white;
      padding: 2rem;

      .title-mobile {
        display: flex;
        background: none;
        border: none;
        color: white;
        font-size: 16px;
        font-family: var(--primary-font);
        gap: 0.5rem;
        img {
          width: 30px;
        }
      }

      .filterbtn {
        display: flex;
        height: auto;
        width: 170px;
        flex-direction: column;
        align-items: center;
        gap: 1rem;
        border: 1px solid white;
        border-radius: 20px;
        padding: 16px;

        .title-desktop {
          display: none;
          background: none;
          border: none;
          color: white;
          font-size: 24px;
          font-family: var(--primary-font);
        }

        .cat-btns {
          display: none;
          &.cat-btns-active {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1rem;
          }
          .btn {
            display: flex;
            width: 150px;
            padding: 10px 16px;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            border-radius: 15px;
            background-color: var(--primary-color);
            color: white;
            font-family: var(--primary-font);
            font-weight: 400;
          }

          .btn:hover {
            transform: scale(1.1);
            filter: drop-shadow(0px 10px 50px rgb(171, 155, 155)) invert(100%);
            background-color: var(--primary-color);
            opacity: 80%;
          }

          .btnActive {
            display: flex;
            width: 150px;
            padding: 10px 16px;
            justify-content: center;
            align-items: center;
            border: 1px solid white;
            border-radius: 15px;
            background-color: #dfab494d;
            color: white;
            font-family: var(--primary-font);
            font-weight: 400;
          }
        }
      }
    }
    .submitBtn {
      display: flex;
      justify-content: center;
      width: 100%;
      height: auto;

      button {
        width: 128px;
        height: 48px;
        background-color: cadetblue;
        border-radius: 50% 20% / 10% 40%;
        border: 1px solid black;
        font-family: var(--primary-font);
        font-weight: 400;
        font-size: 1.5rem;
      }

      button:hover {
        transform: scale(1.1);
        background-color: var(--primary-color);
        opacity: 80%;
      }
    }
  }
}
