.blockCarousel {
  width: 100%;
  position: relative;
  display: flex;
  width: 100%;

  .left {
    position: absolute;
    left: 0%;
    top: 50%;
  }
  .right {
    position: absolute;
    right: 0%;
    top: 50%;
  }
  .picture {
    width: 100%;

    img {
      width: 100%;

      object-fit: cover;
    }
  }
}
