.blockCarousel {
  position: relative;
  display: flex;
  width: 100%;

  .left {
    position: absolute;
    left: 0%;
    top: 46%;
    background-color: #ffbc41;
    border: none;
    border-radius: 50px;
    height: 36px;
  }
  .right {
    position: absolute;
    right: 0%;
    top: 46%;
    background-color: #ffbc41;
    border: none;
    border-radius: 50px;
    height: 36px;
  }
  .picture {
    width: 100%;

    img {
      width: 100%;
    }
  }
}
