nav {
  z-index: 5;
  position: fixed;
  display: flex;
  background-color: #fff9f3;
  width: 100%;
  justify-content: space-between;

  button {
    border: none;
    background: none;
    font: inherit;
  }
  .NavbarO {
    display: none;
  }
  .Logo {
    margin-left: 1rem;
    margin-top: 5px;
    max-width: 110px;
    max-height: 35px;
    filter: sepia(25%);
  }
  .MenuBurgall {
    text-align: right;
    padding-right: 8px;
    .Listcat button {
      padding-block: 10px;
    }
    .Listcat a {
      display: flex;
      flex-direction: column;
      text-align: right;
      text-decoration: none;
      padding-block: 10px;
      color: black;
    }
    .Listcat li {
      margin-block: 0.5rem;
      font-size: 16px;
    }
    .NavCat {
      list-style: none;
    }
  }
}
a {
  text-decoration: none;
  color: black;
}
@media screen and (min-width: 600px) {
  .CatButton {
    color: white;
  }

  nav {
    background: rgba(255, 255, 255, 0);
    // backdrop-filter: blur(2px);
    // box-shadow: var(--border-shadow);

    li {
      list-style: none;
    }
    .NavbarO {
      display: flex;
      color: white;
      div {
        margin-inline: 4px;

        .Catedest {
          display: flex;
          text-align: right;
          font-size: clamp(18px, 2vw, 28px);
          a {
            color: white;
          }
          button {
            font-size: clamp(18px, 2vw, 28px);
          }

          .Catesolo {
            margin-right: 0px;
            li {
              padding-block: 0.5rem;
              font-size: clamp(14px, 1.5vw, 20px);
              color: white;
            }
          }
          a {
            padding-inline: 1rem;
            margin-left: 5px;
          }
        }
      }
    }
    .MenuBurgall {
      display: none;
    }
  }
}
