ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  padding-top: 1rem;
  height: 60px;
  li {
    list-style: none;

    img {
      width: 100%;
      min-height: 30px;
      height: 50%;
    }
  }
}
