ul {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  background-color: var(--primary-color);
  padding-top: 1rem;
}
li {
  list-style: none;

  img {
    width: 100%;
    min-height: 30px;
    height: 50%;
  }
}
// li:nth-child(1) {
//   z-index: 1;
//   background-image: url("../../assets/images/Ink1.svg");
//   background-size: contain;
// }
