.filter-contain {
  position: fixed;
  bottom: 0;
  width: 100%;
  z-index: 1;
  margin-top: 7vh;
  margin-bottom: 5px;
  ul {
    display: flex;
    flex-direction: row;
    justify-content: center;
    justify-content: space-evenly;
    background-color: var(--primary-color);
    border-radius: 2rem;
    padding-top: 1rem;
    height: 60px;
    li {
      list-style: none;

      img {
        width: 100%;
        height: 60%;
      }
    }
  }
}

@media screen and (min-width: 800px) {
  .filter-contain {
    position: relative;
    // padding-inline: 10vw;

    ul {
      height: 100%;
      border-radius: 0;
      background-color: transparent;
      li {
        width: 160px;
        // background: red;
        background-size: contain;
        background-repeat: no-repeat;
        padding-top: 2.5rem;
        padding-left: 1rem;
        img {
          width: 120px;
          height: 50%;
        }
      }
    }
  }
}
