.allDetail {
  padding-top: 58px;
  background-color: #fff9f3;
  .TexteMain {
    margin-inline: 16px;
    margin-block: 8px;
  }

  .DetailFoot {
    display: flex;
    justify-content: space-between;

    margin-inline: 16px;
  }
}
