@font-face {
  font-family: "paperclip";
  src: url("../../assets/fonts/PaperclipSansSerif.otf");
}
@font-face {
  font-family: "poppins";
  src: url("../../assets/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "sansserif";
  src: url("../../assets/fonts/Sanseriffic.otf");
}

:root {
  --primary-color: #dfaa49;
  --primary-font: "poppins", sans-serif;
  --secondary-font: "sansserif", sans-serif;
  --tertiary-font: "paperclip", sans-serif;
}
