@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@font-face {
  font-family: "Paperclip"; /* Nom de la police */
  src: url("./assets/font/paperclip_sans_serif/PaperclipSansSerif.otf")
    format("opentype"); /* Chemin vers le fichier OTF */
}
@font-face {
  font-family: "paperclip";
  src: url("../../assets/fonts/PaperclipSansSerif.otf");
}
@font-face {
  font-family: "poppins";
  src: url("../../assets/fonts/Poppins-ExtraLight.ttf");
}

@font-face {
  font-family: "sansserif";
  src: url("../../assets/fonts/Sanseriffic.otf");
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
::-webkit-scrollbar {
  display: none;
}
:root {
  --primary-color: #dfaa49;
  --border-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.25);
  --primary-font: "poppins", sans-serif;
  --secondary-font: "sansserif", sans-serif;
  --tertiary-font: "paperclip", sans-serif;
}
body {
  background-color: #242323;
}
.container {
  scrollbar-width: none;
  width: 100%;
  overflow-x: scroll;
  display: flex;
  flex-wrap: nowrap;
}

.hero-position {
  position: relative;
}
.margin {
  height: 90px;
  width: 100%;
}

.planche {
  display: none;
}
@media screen and (min-width: 600px) {
  .margin {
    height: 0;
    width: 100%;
  }
  .planche {
    width: 100%;
    max-height: 480px;
    object-fit: cover;
    display: block;
  }
}
.disablehero {
  display: none;
}
