.imgPack {
  font-family: var(--tertiary-font);
  position: relative;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
  .imgDetail {
    object-fit: cover;
    width: 100%;
    height: 100%;
    max-width: 300px;
    max-height: 300px;

    border-radius: 25px;
    border: solid;
    border-color: rgb(255, 188, 65);
  }
  .imgLabel {
    text-align: center;
    font-size: 32px;
    padding-top: 4px;
    padding-bottom: 8px;
    margin-inline: 45px;
  }
}
@media screen and (min-width: 600px) {
  .imgPack {
    font-family: var(--tertiary-font);
    display: flex;
    position: relative;
    flex-direction: row-reverse;
    align-items: normal;
    .imgDetail {
      max-width: 300px;
      max-height: 300px;
      border-radius: 10px;
      border: none;
    }
    .imgLabel {
      position: relative;
      background: none;
      font-size: clamp(38px, 3.5vw, 72px);
      margin-left: 5%;
    }
  }
}
@media screen and (min-width: 1050px) {
  .Line {
    position: absolute;
    width: 50%;
    height: 2px;
    background-color: black;
    top: 50%;
    left: 45%;
  }
}
