::-webkit-scrollbar {
  display: none;
}
.Contain {
  display: flex;
  justify-content: center;
  width: 353px;
  height: 500px;
  margin: 1rem;
  padding-inline: 0.6rem;
  padding-bottom: 0.6rem;
  background-color: var(--primary-color);
  border-radius: 0 0 29.6px 29.6px;
  box-shadow: var(--border-shadow);

  .border-style {
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 326px;
    height: 487px;
    border: 4px solid white;
    border-top: 0;
    border-radius: 0 0 20px 20px;

    .picture {
      width: 300px;
      height: 300px;

      img {
        border-radius: 0px 0px 20px 20px;
        box-shadow: var(--border-shadow);
      }
    }
    .title {
      width: 300px;
      height: 120px;

      h3 {
        margin-top: 24px;
        color: #000;
        text-align: center;
        font-family: Paperclip Sans Serif;
        font-size: 32px;
        font-style: normal;
        font-weight: 400;
        line-height: 120%; /* 38.4px */
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
    }
    .block-info {
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      text-align: center;
      margin-bottom: 1rem;
      height: 48px;

      .block-time {
        color: #fff;
        font-family: Poppins;
        font-size: 32px;
        font-style: normal;
        font-weight: 700;
        line-height: normal;
      }
      .block-picture {
        img {
          width: 62px;
        }
      }
    }
  }
}
