@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500;700&display=swap");
@font-face {
  font-family: "Paperclip"; /* Nom de la police */
  src: url("../../assets/font/paperclip_sans_serif/PaperclipSansSerif.otf")
    format("opentype"); /* Chemin vers le fichier OTF */
}
::-webkit-scrollbar {
  display: none;
}

.Contain {
  position: relative;
  margin-inline: 1rem;

  .border-style {
    display: flex;
    align-items: center;
    flex-direction: column;

    .picture {
      img {
        width: 70vw;
        min-width: 220px;
        height: 300px;
        border-radius: 20px;
        border: 3px solid var(--primary-color);
        box-shadow: var(--border-shadow);
        cursor: pointer;
      }
    }
    .title {
      position: absolute;
      width: 100%;
      height: 70px;
      margin-inline: 1rem;
      border-radius: 20px 20px 0 0;
      border: 3px solid var(--primary-color);
      border-bottom: 0;
      background-color: rgba(0, 0, 0, 0.288);

      h3 {
        margin-top: 0.5rem;
        color: #fff;
        text-align: center;
        font-family: Paperclip, sans-serif;
        font-size: 26px;
        font-style: normal;
        font-weight: 600;
        line-height: 120%;
        display: -webkit-box;
        -webkit-line-clamp: 2;
        overflow: hidden;
        -webkit-box-orient: vertical;
      }
    }
    .block-info {
      position: absolute;
      display: flex;
      flex-direction: row;
      justify-content: space-evenly;
      width: 100%;
      text-align: center;
      bottom: 5px;
      height: 48px;
      border-radius: 0 0 18px 18px;
      border: 3px solid var(--primary-color);
      border-top: 0;
      background-color: rgba(0, 0, 0, 0.288);

      .block-time {
        margin-top: 0.5rem;
        color: #fff;
        font-family: Poppins, sans-serif;
        font-size: 24px;
        font-style: normal;
        font-weight: 500;
        line-height: normal;
      }
      .block-picture {
        display: flex;
        align-items: center;

        img {
          width: 62px;
        }
      }
    }
  }
}

@media screen and (min-width: 400px) {
  .Contain {
    display: flex;
    justify-content: center;
    width: 353px;
    height: 500px;
    padding-inline: 0.6rem;
    padding-bottom: 0.6rem;
    background-color: var(--primary-color);
    border-radius: 0 0 29.6px 29.6px;
    box-shadow: var(--border-shadow);

    .border-style {
      width: 326px;
      height: 487px;
      border: 4px solid white;
      border-top: 0;
      border-radius: 0 0 20px 20px;

      .picture {
        img {
          width: 300px;
          height: 300px;
          border: 1px;
          border-radius: 0px 0px 20px 20px;
        }
      }
      .title {
        position: relative;
        height: 110px;
        width: 300px;
        margin-top: 0.5rem;
        background-color: var(--primary-color);

        h3 {
          margin-top: 24px;
          color: #000;
          font-size: 32px;
        }
      }
      .block-info {
        position: relative;
        margin-bottom: 1rem;
        background-color: var(--primary-color);

        .block-time {
          font-size: 28px;
          font-weight: 600;
        }
        .block-picture {
          margin-top: 1rem;
        }
      }
    }
  }
}
